<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1>Please sign up</h1>
      <hr>
      <form action="/auth/signup" method="POST">

        <div class="mb-3">
          <label for="isAdmin" class="form-label">Name</label>
          <select required  id="isAdmin" name="isAdmin">
            <option value="true"> Adm</option>
            <option value="false"> Runner </option>
            
          </select>
          
        </div>

        <div class="mb-3">
          <label for="admId" class="form-label">admId</label>
          <input type="text" class="form-control" id="admId" name="admId">
        </div>

        <div class="mb-3">
          <label for="username" class="form-label">Name</label>
          <input required type="text" class="form-control" id="username" name="username">
        </div>
        
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input required type="password" class="form-control" id="password" name="password">
        </div>
        
        <button type="submit" class="btn btn-dark">Sign up</button>
        

      </form>
      <a href="/" class="btn btn-dark">Go back</a>
      <hr>
    </div>
    </div>
    </div>