<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="menuIndex">
    <a href="/auth/login"> <button class="button button5">Login</button></a>
    <a href="/auth/signup"> <button class="button button5">Signup</button></a>
    
    {{!-- <a href="/beverage/beverages-list"> <button class="button button5">Stock</button></a>
    <a href="/beverage/beverages-bar"> <button class="button button5">Bar</button></a> --}}
    </div>
</body>
</html>
