body {
	padding: 20px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 	background-color: rgb(194, 188, 188);
}
  a {
	color: #00b7ff;
  }
  
  h1 {
	color: 15px;
  }
  
  .book-row {
	display: flex;
	padding: 10px;
	gap: 8px;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid black;
  }
  
  img {
	width: 100%;
  }
  
  .action-links {
	display: flex;
	align-items: center;
	gap: 8px;
  }
  
  .hide {
	display: none;
  }

  .button1 {
	
	background-color: #304730; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }
  .button {
	display: flex;
	justify-content: center;
	background-color: #292a29; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }
  .button3 {
	display: flex;
	justify-content: center;
	background-color: #292a29; 
	border: none;
	color: rgb(199, 201, 198);
	padding: 7px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }

  .buttonEdit {
	display: flex;
	justify-content: center;
	background-color: #696d45; 
	border: none;
	color: rgb(199, 201, 198);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }

  .buttonSold{
	display: flex;
	justify-content: center;
	background-color: #374e37; 
	border: none;
	color: rgb(199, 201, 198);
	padding: 7px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;

  }
.button5 {
	
  background-color: rgb(202, 199, 199);
  color: black;
  border: 2px solid #555555;
}

.menuIndex {
	display: flex;
	
	justify-content: center;
	padding: 10px;
	
}

