 <div class="container">
  <h1>SOLD </h1>
  <section id="beverage-container">
    {{#each beverages}}

    <div class="beverage-row">
      <a href="/beverages/details">{{this.name}}-{{quantity}}-{{sellingPrice}}</a>
     
    </div>
    
    {{/each}}

  </section>
</div>

<a  href="/beverage/bar"> Go back to the Bar </a> 