 <div class="container">
  <h1>Sold Beverages </h1>
  <br>
  <br>
  <section id="beverage-container">
    {{#each beverages}}

    <div class="button1" >
      <a class="button3" href="/beverages/details">{{this.name}}-{{quantity}}-{{sellingPrice}}</a>
     
    </div>
    
    {{/each}}

  </section>
</div>
<br>
  <br>

<a class="button" href="/beverage/bar"> Bar </a> 