
<div class="container">
  <h1>beverages list</h1>
  <section id="beverage-container">
    {{#each beverages}}
    <div class="beverage-row">
      <a href="/beverages/">{{this.name}}-{{type}}-{{expiration}}-{{size}}</a>
      <div class="action-links">
        {{#if ../isAdmin}}
        <a href="/beverages/edit" class="btn btn-dark">Edit</a>
         <button type="submit" class="btn btn-warning delete-button">Delete <span class="hide"></span></button>
        {{/if}}

       
      </div>
    </div>
    {{/each}}
  </section>
</div>

<a  href="/beverage/create"> create </a>

{{!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> --}}