<div class="container">
  <h1>Bar</h1>
  <section id="beverage-container">
    {{#each beverages}}
    <div class="beverage-row">
      <a href="/beverages/">{{this.name}}-{{type}}-{{size}}</a>
      <div class="action-links">
        {{#if ../isLoggedIn}}
        <a href="/beverages/edit" class="btn btn-dark">edit</a>
        {{/if}}
        <button type="submit" class="btn btn-warning delete-button">Delete <span class="hide"></span></button>
      </div>
    </div>
    {{/each}}
  </section>
</div>

<a  href="/beverage/list"> Go back to the list </a>