<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Create Bottle</h1>

            <hr>

            <form action="/beverage/create" method="POST">

                <div class="mb-3">
                    <label for="title" class="form-label">Brand</label>
                    <input required type="text" class="form-control" id="brand" name="brand">
                </div>

                <div class="mb-3">
                    <label for="type" class="form-label">Type</label>
                    <input type="text" class="form-control" id="type" name="type">
                </div>

                <div class="mb-3">
                    <label for="size" class="form-label">Size</label>
                    <input type="text" class="form-control" id="size" name="size">
                </div>

                <div class="mb-3">
                    <label for="buyingPrice" class="form-label">Buying Price</label>
                    <input type="text" class="form-control" id="buyingPrice" name="buyingPrice">
                </div>


                <div class="mb-3">
                    <label for="pictureUrl" class="form-label">Author picture</label>
                    <input type="text" class="form-control" id="pictureUrl" name="pictureUrl">
                </div>

                <button type="submit" class="btn btn-dark">Create new bottle</button>
                <a href="/" class="btn btn-dark">Go back</a>
            </form>
            <hr>
        </div>
    </div>
</div>